.page.theme_dark {
  --common-font: 'IBM Plex mono', sans-serif;
  --background-color: #000028;
  --common-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --accent-frame-color: #FF0070;
  --nav-bar-color: #FF0070;
  --button-hover-color: #FF007066;
  --accent-color: #FF0070;
  --accent-text-color: #000028;
  --main-title-color: #000028;
}

.page:is(.theme_dark) > .header span {
  display: block;
}
