.page.theme_light {
  --background-color: #FFF1F7;
  --common-text-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --accent-frame-color: #353430;
  --nav-bar-color: #353430;
  --button-hover-color: #32312D66;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --main-title-color: #353430;
  background-image: url(../images/cover-image-light.png);
}

.page:is(.theme_light) > .header span {
  display: none;
}

@media (prefers-color-scheme: light) {
  .page.theme_light .accent,
  .page.theme_auto .accent {
    display: none;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  :root {
    --background-color: #FFF1F7;
    --common-text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow-color: #FF8DCB;
    --accent-frame-color: #353430;
    --nav-bar-color: #353430;
    --button-hover-color: #32312D66;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --main-title-color: #353430;
    --background-image: url("../images/cover-image-light.png");
  }
}

