.page.theme_light {
  --common-font: 'IBM Plex mono', sans-serif;
  --background-color: #FFF1F7;
  --common-text-color: #353430;
  --title-color: #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --accent-frame-color: #353430;
  --nav-bar-color: #353430;
  --button-hover-color: #32312D66;
  --accent-color: #FF8DCB;
  --accent-text-color: #353430;
  --main-title-color: #353430;
  --background-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  .header span {
    display: none;
  }  

  :root {
    --common-font: 'IBM Plex mono', sans-serif;
    --background-color: #FFF1F7;
    --common-text-color: #353430;
    --title-color: #FFC2E6;
    --title-shadow-color: #FF8DCB;
    --accent-frame-color: #353430;
    --nav-bar-color: #353430;
    --button-hover-color: #32312D66;
    --accent-color: #FF8DCB;
    --accent-text-color: #353430;
    --main-title-color: #353430;
    --background-image: url("../images/cover-image-light.png");
  }
}

