/* global */
.page {
  max-width: 1440px;
  color: var(--common-text-color, #f1b2ce);
  font-family: var(--common-font, "IBM Plex mono", sans-serif);
  background-color: var(--background-color);
  /* background-image: var(--background-image); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/* global */

/* header */
.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 40px;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  justify-items: end;
}

.header__title {
  justify-self: start;
  color: var(--title-color, #db00ff);
  text-shadow: 4px 4px 0px var(--title-shadow-color, #ff0070);
  font-family: var(--common-font, "IBM Plex mono", sans-serif);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.header__article {
  margin-block-start: auto;
  margin-block-end: calc(66px - 10px);
  font-family: var(--common-font, "IBM Plex mono", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--accent-frame-color);
  border-inline-end: 1px solid var(--accent-frame-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-block-end: 1px solid var(--accent-frame-color);
  border-inline-start: 1px solid var(--accent-frame-color);
}

.header__theme-menu {
  color: var(--nav-bar-color);
  margin-block-start: 65px;
  margin-block-end: auto;
}

.header__theme-menu-list {
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  text-align: center;
  height: 26px;
  padding: 0 13px;
  border: none;
  background-color: initial;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(-nav-bar-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-bar-color);
  pointer-events: none;
}

.header span {
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  color: var(--title-shadow-color);
  font-weight: 400;
  line-height: 25px;
}

.header span::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-inline-start: 9px;
  margin-inline-end: 8px;
  background-color: var(--title-shadow-color);
  border-radius: 50%;
}

.page:is(.theme_light) > .header span {
  display: none;
}
/* header */

/* main */
.main {
  flex-direction: column;
  gap: 50px;
  margin: 0;
  padding-inline: 10px;
  margin-block-end: 40px;
}

.main__block {
  gap: 20px;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
}

.main__title,
.main__sub-title {
  color: var(--main-title-color);
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.main__card {
  line-height: 23.4px;
}

.main__card__title {
  margin-block-end: 10px;
  font-weight: 700;
  font-size: inherit;
}

.main_card__description {
  font-weight: 400;
}

.text-shadow:hover {
  text-decoration: underline;
}

.main__card-sub-title {
  margin-block-end: 10px;
  font-weight: 400;
}

.text-shadow {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--title-shadow-color);
}

.text-shadow:focus-visible {
  outline: 1px solid var(--common-text-color);
}

.main__grid {
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  gap: 10px;
}

.main__grid-items {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* main */

/* footer */
.footer {
  position: relative;
  margin: 0;
  block-size: 100vh;
  padding-inline: 10px;
  min-block-size: 668px;
}

.footer__title {
  margin: auto;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}
/* footer */

/* media */

/* media */

@media (width >= 768px) {
  .header {
    margin-block-end: 60px;
    padding: 20px;
  }

  .header span {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .header__theme-menu {
    margin-block-start: calc(192px - 20px);
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    transform: translateX(-20px);
  }

  .header__article {
    width: 364px;
    margin-block-end: calc(183px - 20px);
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
    margin-block-end: 60px;
  }

  .column-block-2 {
    grid-template-columns: 236px auto;
  }

  .column-block-2 .main__title {
    grid-row: span 2;
  }

  .column-block-2 .main__card {
    grid-column-start: 2;
  }

  .column-block-3 .main__title {
    inline-size: 236px;
  }

  .main__grid{
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 20px;
  }

  .main__grid .main__title {
    grid-column: span 3;
  }

  .item-1 {
    grid-column: span 2;
  }

  .item-2 {
    grid-row: span 2;
  }

  .item-3 {
    grid-row: span 2;
  }

  .item-1 {
    grid-row: span 1;
  }

  .item-5 {
    grid-column: span 2;
  }

  .footer {
    padding-block: 20px;
    padding-inline: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-block-start: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__article {
    inline-size: 491px;
    margin-block-end: calc(134px - 20px);
  }

  .column-block-2 {
    grid-template-columns: 315px auto;
  }

  .column-block-3 {
    grid-template-columns: repeat(3, minmax(315px, max-content));
  }

  .column-block-3 .main__title {
    inline-size: 315px;
  }

  .column-block-3 .main__card{
    grid-row-start: 2;
  }
}
